<footer class="site-footer h-card">
    <data class="u-url" href="{{ " /" | relative_url }}"></data>

    <div class="wrapper">
        <div class="footer-col-wrapper">
            <div class="footer-col">
                <p>
                    Saves Nine is a boutique maker of fine bags and accessories, the brainchild of Charmaine Hawke, living and working from Darumbal country in Yeppoon, Queensland Australia.
                </p>
                <p>
                    <strong>Contact:</strong><br/>
                    Email: <a href="mailto:contact@savesnine.store">contact@savesnine.store</a>
                    <br/>
                    Facebook: <a href="https://www.facebook.com/profile.php?id=100064715174378" class="external">Saves Nine</a>
                    <br/>
                    Phone: <a href="tel:+61400442260">0400 442 260</a> (+61400442260)
                    <br/>
                    <a href="/feed.xml">RSS</a>
                </p>
            </div>
        </div>
    </div>

</footer>